body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    // overflow-y: hidden;
    overflow-x: hidden;
    background-color: $bg-light-mode !important;
    .nav-link  {
      color: black;
    }
  }

body.dark-mode {
    background-color: $bg-dark-mode;
    color: $white-text;
    .card {
      background-color: $grey-dark-mode;
      box-shadow: none;
    }

    .header {
        background-color: $bg-dark-mode;
    }

    .sub-header {
        background-color: $bg-dark-mode;
    }

    .nav-link  {
      color: $white-text;
      &:hover {
        color: $link;
      }
      &:focus {
        color: $link;
      }
    }

    .card__container {
      background-color: lighten($color: $bg-dark-mode, $amount: 10);
    }

    .circle::before {
      background-color: $bg-dark-mode;
    }

    
    .background {
      background-color: $bg-dark-mode;
    }

    .image-container {
      background-color: $bg-dark-mode;
    }

    .snap-container {
      background-color: $bg-dark-mode;
    }
  }