.card__container {
    background-color: darken($color: $bg-light-mode, $amount: 10);
    padding: 60px 40px 60px 40px;
    border-radius: 7px;
}

.card__item {
    // margin: 20px 0px 20px 0px !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    text-align: center;
    width: 100%;

    & h1{
        margin-bottom: 40px;
        width: 100%;
        text-align: left;
    }
}

